<div *ngIf="hero">

        <h2>{{hero.name | uppercase}} Details</h2>
        <div><span>id: </span>{{hero.id}}</div>
        <div>
          <label>name:
            <input [(ngModel)]="hero.name" placeholder="name"/>
          </label>
        </div>
      
      </div>
      <div>{{Property}}</div>
      <button (click)="Count()" >Count</button>


    
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <label>First Name</label>
      <input type="text" formControlName='fName' />
      <label>Last Name</label>
      <input type="text" formControlName='lName' />
      <button type="submit" > Submit</button>
    </form>
    