<p>a11-confirm-password-validation works!</p>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <label>Full Name</label>
    <input type="text" formControlName="fullName" (blur)="logValidationErrors()" />
    <!-- validation helping message for name -->
    <span style="color: red">
        {{formErrors.fullName}}
    </span>
    <br />
    <label>Email</label>
    <input type="text" formControlName="email" (blur)="logValidationErrors()" />
    <!-- validation helping message for Email -->
    <span style="color: red">
        {{formErrors.email}}
    </span>
    <br>
    <div formGroupName="passwordGroup">
        <label>Password</label>
        <input type="password" formControlName="password" (blur)="logValidationErrors()" />
        <!-- validation helping message for Email -->
        <span style="color: red">
            {{formErrors.password}}
        </span>
        <br>
        <label>Confirm Password</label>
        <input type="password" formControlName="confirmPassword" (blur)="logValidationErrors()" />
        <!-- validation helping message for Email -->
        <span style="color: red">
            {{formErrors.confirmPassword ? formErrors.confirmPassword : formErrors.passwordGroup}}

        </span>
        <br>
    </div>
    <button [disabled]="employeeForm.invalid" type="submit">Handle Submit</button>
    <button type="button" (click)="loadData()">loadData</button>
</form>




<table border="1">
    <tr>
        <th style="padding: 10px">FormGroup</th>
        <th style="padding: 10px">FormControl (fullName)</th>
    </tr>
    <tr>
        <td style="padding: 10px">
            touched : {{ employeeForm.touched }}
            <br /> dirty : {{ employeeForm.dirty }}
            <br /> valid : {{ employeeForm.valid }}
            <br /> Form Values : {{employeeForm.value | json}}
        </td>
        <td style="padding: 10px">
            touched : {{ employeeForm.get('fullName').touched }}
            <br /> dirty : {{ employeeForm.get('fullName').dirty }}


            <br /> valid : {{ employeeForm.get('fullName').valid }}
            <br /> Errors : {{ employeeForm.get('fullName').errors.required }}
            <br /> minLength : {{employeeForm.get('fullName').errors.minlength}}
            <br /> FullName Value : {{employeeForm.get('fullName').value}}
            <br />
            <br /> for email: {{employeeForm.get('email').errors.email}}
        </td>
    </tr>
</table>