<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<!-- <app-heroes></app-heroes> -->

<!-- <app-a1-nested-form-group></app-a1-nested-form-group> -->

<!-- <app-a2-set-values-and-patch-values></app-a2-set-values-and-patch-values> -->

<!-- <app-a3-form-builder></app-a3-form-builder> -->

<!-- <app-a4-form-validation></app-a4-form-validation> -->

<!-- <app-a5-validations-and-logics-in-component></app-a5-validations-and-logics-in-component> -->

<!-- <app-a6-dynamically-validation></app-a6-dynamically-validation> -->

<!-- <app-a7-custom-validation></app-a7-custom-validation> -->

<!-- <app-a8-custom-validation-with-parameter></app-a8-custom-validation-with-parameter> -->

<!-- <app-a9-reuse-custom-validation></app-a9-reuse-custom-validation> -->

<!-- <app-web-rtc></app-web-rtc> -->

<!-- <app-a10-parent-child-form-validation></app-a10-parent-child-form-validation> -->

<!-- <app-a11-confirm-password-validation></app-a11-confirm-password-validation> -->

<!-- <app-a12-form-array></app-a12-form-array> -->

<!-- <app-styling-practice></app-styling-practice> -->

<!-- <app-flex></app-flex> -->

<!-- <app-a13-lazy-loading-module></app-a13-lazy-loading-module> -->
<app-a14-child-view-parent></app-a14-child-view-parent>