<p>a16-custom-directive works!</p>
<p>a16-custom-directives works!</p>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Full Name</label>
    <input type="text"  formControlName="fullName" />
    <app-show-error style="color: red;" [control]="employeeForm.get('fullName')"></app-show-error>
  </div>
  <div>
    <label>Email</label>
    <input type="text" formControlName="email" />
    <app-show-error style="color: red;" [control]="employeeForm.get('email')"></app-show-error>
  </div>  
  <button [disabled]="employeeForm.invalid" type="submit">Handle Submit</button>
  </form>
     
<!-- 


    <table border="1">
        <tr>
          <th style="padding: 10px">FormGroup</th>
          <th style="padding: 10px">FormControl (fullName)</th>
        </tr>
        <tr>
          <td style="padding: 10px">
            touched : {{ employeeForm.touched }}
            <br/> dirty : {{ employeeForm.dirty }}
            <br/> valid : {{ employeeForm.valid }}
            <br/> Form Values : {{employeeForm.value | json}}
          </td>
          <td style="padding: 10px">
            touched : {{ employeeForm.get('fullName').touched }}
            <br/> dirty : {{ employeeForm.get('fullName').dirty }}
      
       
            <br/> valid : {{ employeeForm.get('fullName').valid }}
            <br/> Errors : {{ employeeForm.get('fullName').errors.required }}
            <br /> minLength : {{employeeForm.get('fullName').errors.minlength}}
            <br/> FullName Value : {{employeeForm.get('fullName').value}}
            <br/>
            <br/> for email: {{employeeForm.get('email').errors.email}}
          </td>
        </tr>
      </table> -->